<% @subjects.each do |subject| %>
<div>
    <div><h2><%= subject.title %></h2></div>
    <div><%= link_to image_tag(img_subject_path subject), subject %></div>
    <div><%= subject.quote %></div>
    <hr>
</div>
<% end %>
